/* GENERAL */

html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;   
    background: gray; 
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: unset;
}

/* DISPLAY */

.flex{
    display: flex;
}

/* BUTTONS*/ 

button{
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: $veryLightGray;
    border-radius: 50px;
    padding: 1.4rem 3.2rem 1.2rem 3.2rem;
    background-color: $brightRed;
    box-shadow: $brightRed 0px 22px 20px -15px;
}

