/* GENERAL */

html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0; 
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: unset;
}

h1{
    color: $darkBlue;
    font-size: 52px;
}

p{
    color: $darkGrayishBlue;
}

/* DISPLAY */

.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-justify-sb{
    justify-content: space-between;
}
.flex-justifyCenter{
    justify-content: center;
}
.flex-alignCenter{
    align-items: center;
}

/* BUTTONS*/ 

button{
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: $veryLightGray;
    border-radius: 50px;
    padding: 1.25rem 3.2rem 1.1rem 3.2rem;
    background-color: $brightRed;
    box-shadow: $brightRed 0px 22px 20px -15px;
}

