.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $darkGrayishBlue;
  opacity: 0;
  z-index: 5;
  visibility: hidden;
  transition: all 300ms ease;
  @include breakPointUp('970') {
    display: none;
  }
  &.showOverlay {
    visibility: visible;
    opacity: 0.4;
  }
}

.header {
  position: relative;
  background-image: url('/images/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-position-x: 47rem;
  background-position-y: -10rem;
  padding-top: 3rem;
  padding-bottom: 8rem;

  &__nav-links,
  .navButton {
    @include breakPointDown('969') {
      display: none;
    }
  }
  &__nav {
    justify-content: space-between;
    align-items: center;
    position: relative;
    @include breakPointDown('499') {
      justify-content: space-around;
    }
    &-links {
      span {
        padding: 0.7rem;
      }
      .navLink {
        color: $darkBlue;
        transition: color 200ms ease;
        &:hover {
          color: $darkGrayishBlue;
        }
      }
    }
    &-burguer {
      position: relative;
      display: none;
      cursor: pointer;
      z-index: 6;
      @include breakPointDown('969') {
        display: flex;
        flex-direction: column;
      }
      span {
        background-color: $darkBlue;
        width: 2.4rem;
        height: 0.25rem;
        transition: all 300ms ease-in-out;
        &:not(:last-child) {
          margin-bottom: 0.45rem;
        }
        &:nth-child(2) {
          align-self: center;
        }
      }
      &.open {
        > span:first-child {
          transform: rotate(45deg) translate(7px, 7px);
        }
        > span:nth-child(2) {
          align-self: center;
          width: 0;
          opacity: 0;
        }
        > span:last-child {
          transform: rotate(-45deg) translate(9px, -9px);
        }
      }
    }
    &-mobileMenu {
      position: absolute;
      box-shadow: 2px 3px 7px 0px #242d524f;
      width: 15rem;
      padding: 1rem 0;
      border-radius: 3px;
      top: 3rem;
      right: 0;
      background-color: $veryLightGray;
      opacity: 0;
      visibility: hidden;
      transition: all 300ms ease-in-out;
      z-index: 6;
      @include breakPointDown('499') {
        right: unset;
      }
      @include breakPointUp('970') {
        display: none;
      }

      span {
        text-align: center;
        padding: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 300ms ease;
      }
      &.show {
        visibility: visible;
        opacity: 1;
        span {
          visibility: visible;
          opacity: 1;
          padding: 1rem;
        }
      }
      &:hover {
        opacity: 1;
      }
      .navLink {
        color: $darkBlue;
        transition: color 200ms ease;
        &:hover {
          color: $darkGrayishBlue;
        }
      }
    }
  }

  &__hero {
    position: relative;
    padding-top: 8rem;
    justify-content: space-between;
    @include breakPointDown('969') {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    &-text {
      position: relative;
      margin-right: 2rem;
      min-width: 25.5625rem;
      @include breakPointDown('969') {
        margin-right: unset;
        min-width: unset;
      }
      h1 {
        padding-top: 3rem;
      }
      p {
        width: 21rem;
        padding: 2rem 0;
        @include breakPointDown('969') {
          margin: auto;
        }
      }
    }
    &-img {
      figure {
        img {
          width: 100%;
        }
      }
    }
    &-text,
    &-img {
      max-width: 35.40625rem;
    }
  }
}
